build==1.0.3
controlnet_aux==0.0.6
diffusers==0.21.0
einops==0.7.0
huggingface_hub==0.16.2
imageio[ffmpeg]==2.31.1
libigl==2.4.1
loguru==0.6.0
matplotlib==3.6.2
numpy==1.24.1
open3d==0.17.0
opencv_python==4.5.4.58
packaging==23.2
pyrallis==0.3.1
scipy==1.10.1
scikit-image==0.21.0
tqdm==4.64.1
transformers==4.30.2
trimesh==3.21.4
